= simple_form_for volunteer do |f|
  -if volunteer.errors.any?
    #error_explanation
      %h2= "#{pluralize(volunteer.errors.count, "error")} prohibited this volunteer from being saved:"
      %ul
        - volunteer.errors.full_messages.each do |msg|
          %li= msg
  #vols.well.well-large
    .col-md-3
      =f.input  :first_name, label: 'First Name'
    .col-md-3
      =f.input  :nick_name,  label: 'Nick Name'
    .col-md-3
      =f.input  :last_name, label: 'Last Name'
    .col-md-3
      =f.input  :email, label: 'Email'
    .col-md-3
      =f.input  :phone, label: 'Home Phone'
    .col-md-3
      =f.input  :cell_phone, label: 'Cell Phone'
    .col-md-3
      =f.input  :street,label: 'Street'
    .col-md-3
      =f.input :city,   label: 'City'
    .col-md-3
      =f.input :state,  label: 'State', input_html: { class: 'col-md-2' }, placeholder: 'North Carolina'
    .col-md-3
      =f.input :zip,    label: 'Zip', input_html: {class: 'col-md-2'}
    .col-md-3
      =f.input :contact, label: 'Alternative Contact', input_html: {class: 'col-md-6'}
    .col-md-6
      = f.input :birthday, as: :date, start_year: Date.today.year - 1, end_year: Date.today.year - 90,  order: [:day, :month, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, input_html: {class: 'span2'}
    .col-md-3
      = f.input :skills, label: 'Skills', collection: ['Book Keeping', 'Graphics', 'Writing', 'Computer', 'Carpentry', 'Admin']
    .col-md-3
      =f.input :group,  label: 'Group', collection: [:Monday, :Tuesday, :Wednesday, :Thursday, :Friday, :Virtual]
    .col-md-3
      =f.input :status, label: 'Status', collection: [:Active, :In_Active, :Prospective], selected: 'Active'
    .col-md-2
      =f.input :admin, label: 'Admin?', input_html: {class: 'form-horizontal'}
    .col-md-12
      =f.input :notes, label: 'Notes and Comments', input_html: { class: 'col-md-10'}
    .col-md-10
      #submit-volunteer
        =f.button :submit, class: 'btn btn-primary', label: 'Save'
  %br
