.nested-fields
  #neighbor-fields-color.well.well-large
    %script{:type=>"text/javascript"}
      $('.datepicker').datepicker({format: 'mm/dd/yyyy'});
    .col-md-3
      = f.input :first_name, label: 'First Name', autofocus: true
    .col-md-3
      = f.input :middle_name, label: 'Middle Name'
    .col-md-3
      = f.input :last_name, llabel: 'Last Name'
    .row
    .col-md-3
      = f.input :birth_date, label: 'Birthday', as: :date_picker
    .col-md-2
      = f.input :encrypted_ssn, label: 'SS #', input_html: {class: "span2"}
    .col-md-2
      = f.input :phone, label: 'Phone', input_html: {class: 'span2'}
    .col-md-2
      = f.input :sex, label: 'Sex', collection: [:Male, :Female], input_html: {class: 'span2', }
    .row
    .col-md-6
      = f.input :notes, placeholder: 'Notes and Comments', :rows => 2, input_html: {rows: 2, class: 'span9' }
    .col-md-8
    .row
      -#= link_to_remove_association


